.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border: 1px solid #6da871;
    border-radius: 15px;
    padding: 25px;
    width: inherit;
    font-family: 'Barlow', sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
    width: inherit;
    min-height: 250px;
}

.form input {
    height: 50px;
    padding: 10px;
}

.form textarea {
    height: 50px;
    padding: 10px;
}

.item button {
    margin-top: 20px;
    color: white;
    background-color: #555;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.item button:hover {
    background-color: #3a3939;
}