.workItem {
    border: 2px solid #7c7b7b;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 150ms;
    width: 500px;
    margin-top: 20px;
}

.workItem:hover {
    transform: translateY(-5px);
    transition: 150ms;
}

.container {
    position: relative;
    padding: 10px;
}

.container img {
    width: 450px;
    height: 250px;
    display: flex;
}

@media screen and (max-width: 400px) {
    .container img {
        width: 250px;
        display: flex;
    }

    .workItem p {
        width: 250px;
    }
}

.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #606060;
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container .btn:hover {
    background-color: #3d3c3c;
}

.workItem h3 {
    width: 100%;
    padding-left: 10px;
}

.workItem p {
    width: 400px;
    padding-left: 10px;
}