.skill {
    width: 250px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    margin: 25px;
}

.skill h4 {
    font-size: 20px;
    margin: 15px 0;
}

.icon {
    width: 60px;
    height: 60px;
}

.description {
    text-align: center;
}