.worksBlock {
    margin: 40px auto;
    font-family: 'Barlow', sans-serif;
}

.title {
    font-weight: 600;
    font-size: 22px;
}

.work {
    margin: 30px auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}


