.skillsBlock {
    height: 80vh;
    background-color: #6ecb6e;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: darkgray;
}

.skills {
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

