.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 25px;
}

.title {
    font-family: 'Barlow', sans-serif;
    font-size: 22px;
}

.skills {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

