.main {
    box-sizing: border-box;
    margin-top: 50px;
}

.text {
    width: 350px;
    font-size: 17px;
}

.text p {
    font-family: 'Noto Sans TC', sans-serif;
    opacity: 70%;
}

.photo img {
    width: 100%;
}