.footerBlock {
    height: 25vh;
}

.footerContainer {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items {
    margin-bottom: 40px;
}

.items img {
    width: 30px;
    height: 30px;
    padding: 0 20px;
}